html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: table;
  background: #cc5533;
  background: radial-gradient(#d2694b, #a34429);
}

.animation-container {
  display: table-cell;
  vertical-align: middle;
}

.diagonal-up, .diagonal-down, .crest, .trough {
  display: inline-block;
}

.diagonal-up, .diagonal-down {
  width: 100px;
  height: 12px;
  background: white;
}

.diagonal-up {
  -webkit-transform: rotate(-45deg) translate(5px, 5px);
  -moz-transform: rotate(-45deg) translate(5px, 5px);
  -ms-transform: rotate(-45deg) translate(5px, 5px);
  -o-transform: rotate(-45deg) translate(5px, 5px);
  transform: rotate(-45deg) translate(5px, 5px);
  margin-left: -28px;
}

.diagonal-down {
  -webkit-transform: rotate(45deg) translate(-5px, 5px);
  -moz-transform: rotate(45deg) translate(-5px, 5px);
  -ms-transform: rotate(45deg) translate(-5px, 5px);
  -o-transform: rotate(45deg) translate(-5px, 5px);
  transform: rotate(45deg) translate(-5px, 5px);
}

.crest, .trough {
  border: 12px solid white;
  width: 76px;
  height: 76px;
}

.crest {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  border-top-left-radius: 100%;
  border-width: 12px 0 0 12px;
}

.trough {
  -webkit-transform: rotate(45deg) translate(43px, 63px);
  -moz-transform: rotate(45deg) translate(43px, 63px);
  -ms-transform: rotate(45deg) translate(43px, 63px);
  -o-transform: rotate(45deg) translate(43px, 63px);
  transform: rotate(45deg) translate(43px, 63px);
  border-bottom-right-radius: 100%;
  border-width: 0 12px 12px 0;
}

.glow {
  box-shadow: 0 0 24px rgba(255, 255, 255, 0.28), 0 0 24px rgba(255, 255, 255, 0.28) inset;
}

.final-circle {
  border-radius: 50%;
  width: 160px;
  height: 160px;
  border: 12px solid #f2f2f2;
  margin: 0 auto;
  cursor: pointer;
  transition: all 0.4s ease-out;
}
.final-circle:hover {
  border-color: white;
  -webkit-transform: translateY(8px);
  -moz-transform: translateY(8px);
  -ms-transform: translateY(8px);
  -o-transform: translateY(8px);
  transform: translateY(8px);
  box-shadow: 0 0 40px rgba(255, 255, 255, 0.72), 0 0 40px rgba(255, 255, 255, 0.72) inset;
}
.final-circle:hover + .shadow {
  box-shadow: 0px 148px 56px -40px rgba(0, 0, 0, 0.16);
}

.shadow {
  border-radius: 50%;
  height: 160px;
  width: 252px;
  -webkit-transform: scaleY(0.4);
  -moz-transform: scaleY(0.4);
  -ms-transform: scaleY(0.4);
  -o-transform: scaleY(0.4);
  transform: scaleY(0.4);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  box-shadow: 0px 148px 56px -40px rgba(0, 0, 0, 0.12);
  margin: 0 auto;
  transition: box-shadow 0.4s ease-out;
}
