html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: table;
  background: #cc5533;
  background: radial-gradient(#d06343, #ab472b);
}

.animation-container {
  display: table-cell;
  vertical-align: middle;
}

.diagonal-up, .diagonal-down {
  width: 100px;
  height: 12px;
  background: white;
}

.diagonal-up {
  -webkit-transform: rotate(-40deg);
  -moz-transform: rotate(-40deg);
  -ms-transform: rotate(-40deg);
  -o-transform: rotate(-40deg);
  transform: rotate(-40deg);
}

.diagonal-down {
  -webkit-transform: rotate(40deg);
  -moz-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  -o-transform: rotate(40deg);
  transform: rotate(40deg);
}

.crest, .trough {
  border: 12px solid white;
  border-radius: 50%;
  width: 100px;
  height: 50px;
}

.crest {
  border-width: 12px 0 0 0;
}

.trough {
  border-width: 0 0 12px 0;
}

.glow {
  box-shadow: 0 0 24px rgba(255, 255, 255, 0.24), 0 0 24px rgba(255, 255, 255, 0.24) inset;
}

.final-circle {
  border-radius: 50%;
  width: 160px;
  height: 160px;
  border: 12px solid #f2f2f2;
  margin: 0 auto;
  cursor: pointer;
  transition: box-shadow 0.4s ease-out, border-color 0.4s ease-out;
}
.final-circle:hover {
  border-color: white;
  box-shadow: 0 0 40px rgba(255, 255, 255, 0.4), 0 0 40px rgba(255, 255, 255, 0.4) inset;
}
.final-circle:hover + .shadow {
  box-shadow: 0px 220px 32px -40px rgba(0, 0, 0, 0.16);
}

.shadow {
  border-radius: 50%;
  height: 148px;
  width: 252px;
  -webkit-transform: scaleY(0.4);
  -moz-transform: scaleY(0.4);
  -ms-transform: scaleY(0.4);
  -o-transform: scaleY(0.4);
  transform: scaleY(0.4);
  box-shadow: 0px 220px 32px -40px rgba(0, 0, 0, 0.12);
  margin: 0 auto;
  transition: box-shadow 0.4s ease-out;
}
